@model IEnumerable<Agro_Mercado.AppMVC.Models.Producto>

<h2>Productos</h2>

<a asp-action="Create" class="btn btn-primary mb-3">
    Nuevo Producto
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Unidad</th>
            <th>Precio Venta</th>
            <th>Precio Compra</th>
            <th>Stock</th>
            <th>Stock Mínimo</th>
            <th>Activo</th>
            <th style="width: 240px;">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Categoria?.Nombre</td>
                <td>@item.UnidadMedida?.Nombre</td>
                <td>@item.PrecioVenta</td>
                <td>@item.PrecioCompraPromedio</td>
                <td>@item.Stock</td>
                <td>@item.StockMinimo</td>
                <td>
                    @(item.Activo == true ? "Sí" : "No")
                </td>

                <td>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                        Ver
                    </a>

                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        Eliminar
                    </a>

                </td>

            </tr>
        }
    </tbody>

</table>